body {
  background: -webkit-linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
  background: -moz-linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
  background: -ms-linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
  background: -o-linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
  background: linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
  font-family: cursive;
  height: 800px;
}