.titlebar {
  margin-bottom: 20%;
}

.pin {
  display:block; float: left
}

.question {
  display:block; float: right
}
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  height: 50%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#answers {
  align-items:center;
}

#diamond {
  height: 100%;
  width: 100%;
}

#square {
  height: 100%;
  width: 100%;
}

#triangle {
  height: 100%;
  width: 100%;
}

#circle {
  height: 100%; 
  width: 100%;
}

hr {
    border: 1px solid #777777;
    width: 100%;
}
